[tools]

[tasks.install_tools]
description = "mise install"
run = "mise install"


[tasks.install_oh_my_zsh]
description = "Install Oh My Zsh"
outputs = ["~/.oh-my-zsh/oh-my-zsh.sh"]
run = """
{{config_root}}/scripts/install_oh_my_zsh.sh
"""

[tasks.nvim_plugins]
description = "Install Vim Plug"
depends = ["install_tools"]
outputs = ["~/.local/share/nvim/site/autoload/plug.vim"]
run = """
{{config_root}}/scripts/setup_nvim_plugin.sh
"""

[tasks.link_config]
description = "Link dotfiles"
depends = ["install_tools"]
run = """
#!/bin/bash
{{config_root}}/scripts/link_config.sh
"""

[tasks.setup]
description = "Install tools and link dotfiles"
depends = ["install_tools", "nvim_plugins", "install_oh_my_zsh"]
run = """
#!/bin/bash
echo "Setup complete! Please restart your terminal to apply changes. \n(Manually change your shell to zsh if you haven't already. Run 'chsh -s $(which zsh)')"
"""
