[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Shuoliu Yang
	email = visysl@outlook.com
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    hyperlinks = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    graph = log --all --graph --decorate --oneline --pretty=\"format:%C(magenta)%h%Creset %C(dim green)(%cr %ai) %C(red)%d%Creset %C(yellow)%sCreset %C(cyan)<%an>%Creset\" --abbrev-commit

[pager]
    blame = delta
