// Edit with `hyprshell config edit`
(
    version: 4,
    windows: (
        scale: 8.5,
        items_per_row: 5,
        overview: (
            key: "backslash",
            modifier: "super",
            top_offset: 120,
            exclude_workspaces: "special:.*",
            launcher: (
                default_terminal: "alacritty",
                launch_modifier: "ctrl",
                width: 720,
                max_items: 8,
                show_when_empty: true,
            ),
        ),
        switch: (
            modifier: "super",
            key: "Tab",
            filter_by: [],
            switch_workspaces: false,
            exclude_workspaces: "",
            kill_key: 'q',
        ),
    ),
)
